.card{
    padding: 2em;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    box-shadow: 2px 2px 4px black;
   
}

#options{
    display: flex;
    max-width: 900px;
    margin: auto;
    margin-top: 3em;
    
    justify-content: space-around;
    
}

.card.active{
    box-shadow: 2px 2px 4px #997;
    background-color: antiquewhite;
}